@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Inconsolata, sans-serif;
}

body {
  font-family: Montserrat, sans-serif;
}